{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= "{% static 'css/product.css' %}" type="text/css">
</head>
<body>
    <div class="card">
        <div class="product-image">
        </div>
        <div class="description">
            <h2 class="name">
                Морская раковина
            </h2>
            <p class="b-text">
                Картина, выполненная маслом на холсте.
            </p>

        </div>
    </div>

    <div class="card">
        <div class="product-image1">
        </div>
        <div class="description">
            <h2 class="name">
                Я уже устала делать эту штуку
            </h2>
            <p class="b-text">
                Картина, напечатанная на холсте (вот это разнообразие вот это дааа).
            </p>

        </div>
    </div>

    <div class="card">
        <div class="product-image2">
        </div>
        <div class="description">
            <h2 class="name">
                Жизнь тлен
            </h2>
            <p class="b-text">
                Многое нужно переделать...
                Убейте меня
            </p>

        </div>
    </div>
</body>
</html>